<!DOCTYPE html>
<html lang="kr" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/header :: headerFragment}"></th:block>
    <style>
        #videoOn{
            display: none;
        }
        #notice{
            color: aliceblue;
        }
        #chzzkClipUrlInput{
            margin-top: 80px;
            text-align: center;
            margin-bottom: 30px;

        }
        #clipUrl{
            border: 1px solid black;
            border-radius: 5px;
            width: 500px;
            height: 30px;
        }
        #clipDownloadDirectBtn{
            visibility: hidden;
        }

    </style>
</head>
<body>
<a href="/multiDownload">멀티 다운로드</a>
    <div id="chzzkClipUrlInput">
        <form action="/clipDownload" method="get">
           <input type="text" placeholder="클립 url을 입력해주세요"
                  id="clipUrl" name="clipUrl"
           required>
            <button class="btn btn-primary" id="clipUrlSubmit" type="submit">입력</button>
        </form>
        <div id="videoNone">
            <br>
            <p id="notice">올바른 클립 주소 입력 시<br>아래에 다운로드 가능한 영상이 나타납니다.</p>
        </div>
        <div id="videoOn">
            <video id="clipVideo" controls="" name="media">
                <source id="videoSource" type="video/mp4">
            </video>
        </div>
        <div id="clipDownloadDirect">
            <button class="btn btn-primary" id="clipDownloadDirectBtn" type="button">다운로드</button>
        </div>
    </div>
</body>
<script>
    $(`#clipDownloadDirectBtn`).click(function (event){
        event.preventDefault();
        //원본 vod 주소
        const clipSrcUrl = document.getElementById("clipVideo").src

        const formData = {
            clipSrcUrl : clipSrcUrl
        };
        $.ajax({
            type: "post",
            url: "clipDownloadDirect",
            contentType: "application/json",
            data : JSON.stringify(formData),
            success : function (result){
                if (result === 0){
                    alert("에러가 발생했습니다. 클립주소를 확인해주세요!");
                }
            },
            error:function (error){
                alert("에러가 발생했습니다." + error);
            }

        });
    });

    $('#clipUrlSubmit').click(function (event){
        event.preventDefault();
        const clipUrl = $('#clipUrl').val();
        //정규식 체크 함수 활용
        if(!isValidUrl(clipUrl)){
            alert("사용불가한 url입니다.");
        } else {
            $.ajax({
                type : "get",
                url : "/clipDownload",
                data : {
                    clipUrl : clipUrl
                },
                success : function (result){
                    //비디오 보여주기
                    document.getElementById("videoOn").style.display = 'block';
                    document.getElementById("videoNone").style.display = 'none';
                    document.getElementById("clipDownloadDirectBtn").style.visibility = 'visible';
                    //video태그의 src부분 채워주기
                    $("#clipVideo").attr("src", result)


                },
                error:function (error){
                    alert("에러가 발생했습니다. 클립주소를 확인해주세요!" + error);
                }
            });
        }
    });
    //url 정규식 체크
    function isValidUrl(clipUrl){
        const urlRegex = /^(https?|ftp):\/\/(-\.)?([^\s\/?\.#-]+\.?)+(\/[^\s]*)?$/i;
        return urlRegex.test(clipUrl);
    }

</script>
</html>