<html lang="kr" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/header :: headerFragment}"></th:block>
    <style>
        body{
            display: flex;
            justify-content: space-between;
        }
        #videoOn{
            display: none;
        }
        #notice{
            color: aliceblue;
        }
        #chzzkClipUrlInput{
            margin-top: 80px;
            text-align: center;
            margin-bottom: 30px;

        }
        #searchText{
            border: 1px solid black;
            border-radius: 5px;
            width: 500px;
            height: 30px;
        }
        #clipDownloadDirectBtn{
            visibility: hidden;
        }
        #clipInfo{
            color: aliceblue;
        }
        #clipInfo{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }


    </style>
</head>
<body>
    <div id="mainLeft"></div>
    <div id="mainCenter">
        <div id="chzzkClipUrlInput">
            <form action="/clipDownload" method="get">
                <select id="searchType" name="searchType" >
                    <option value="1" name="clipUrlSelect">클립URL</option>
                    <option value="2" name="streamerSelect">스트리머</option>
                </select>
               <input type="text" placeholder="검색어를 입력해주세요"
                      id="searchText" name="searchText"
               required>
                <button class="btn btn-primary" id="searchBtn" type="submit">입력</button>
            </form>
            <div id="videoNone">
                <div id="notice">
                    <p>치지직 클립 다운로더 페이지입니다.</p>
                    <p>1. 클립 주소 / 스트리머 이름으로 검색 가능합니다.</p>
                    <p>2. 스트리머 이름 입력 시 새 창에 영상들이 나타납니다.</p>
                    <p>3. 클립은 C드라이브 내 "chzzkClip" 폴더 내로 저장됩니다(다운로드시 폴더 자동 생성)</p>
                </div>
            </div>
            <div id="clipInfo">
                <div id="infos">
                    <span id="streamer"></span><br>
                    <span id="clipperName"></span><br>
                    <span id="clipTitle"></span><br>
                    <span id="clipCreatedTime"></span><br>
                </div>
                <div id="clipDownloadDirect">
                    <button class="btn btn-primary" id="clipDownloadDirectBtn" type="button">다운로드</button>
                </div>
            </div>
            <div id="videoOn">
                <video id="clipVideo" controls="">
                    <source id="videoSource" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div id="mainRight"></div>
</body>
<script>
    $(`#clipDownloadDirectBtn`).click(function (event){
        event.preventDefault();
        //원본 vod 주소
        let clipSrcUrl = $('#clipVideo').attr('src');
        let clipTitle = $('#clipVideo').attr('name');
        //클립명
        const formData = {
            clipSrcUrl : clipSrcUrl,
            clipTitle : clipTitle
        };
        $.ajax({
            type: "post",
            url: "clipDownloadDirect",
            contentType: "application/json",
            data : JSON.stringify(formData),
            success : function (result){
                if (result === 0){
                    alert("에러가 발생했습니다. 클립주소를 확인해주세요!");
                } else if (result === 1){
                    alert("클립이 다운로드되었습니다!");
                }
            },
            error:function (error){
                alert("에러가 발생했습니다.");
            }

        });
    });

    $('#searchBtn').click(function (event){
        event.preventDefault();
        const searchText = $('#searchText').val();
        let searchType = $('#searchType').val();

        //클립URL로 검색 시
        if (searchType === "1"){
            //정규식 체크 함수 활용
            if(!isValidUrl(searchText)){
                alert("사용불가한 url입니다.");
            } else {
                $.ajax({
                    type : "get",
                    url : "/clipDownload",
                    data : {
                        clipUrl : searchText
                    },
                    success : function (result){
                        //비디오 보여주기
                        document.getElementById("videoOn").style.display = 'block';
                        document.getElementById("videoNone").style.display = 'none';
                        document.getElementById("clipDownloadDirectBtn").style.visibility = 'visible';
                        //video태그의 src부분 채워주기
                        $("#clipVideo").attr("src", result.clipSrcUrl);
                        $("#clipVideo").attr("name", result.clipTitle);

                        //정상적으로 가져올 시, result에는 dto가 포함되어있어야함
                        //dto의 각 값을 view단에 뿌려주기
                        let streamer = $('#streamer');
                        let clipperName = $('#clipperName');
                        let clipTitle = $('#clipTitle');
                        let clipCreatedTime = $('#clipCreatedTime');

                        streamer.text("스트리머 : " + result.streamer);
                        clipperName.text("클립퍼 : " + result.clipperName);
                        clipTitle.text("클립 제목 : " + result.clipTitle);
                        clipCreatedTime.text("클립 생성 시간 : " + result.createdDateTime);
                        //뿌려준 값들 중, 제목은 '다운로드' 버튼 클릭 시 clipSrcUrl과 함께 back단으로 넘기기


                    },
                    error:function (error){
                        alert("에러가 발생했습니다. 클립주소를 확인해주세요!" + error);
                    }
                });
            }

        }
        //스트리머명으로 검색
        else if(searchType === "2"){
            if (!isValidStreamerName(searchText)){
                alert("올바르지 않은 스트리머명입니다!(공백불가)");
            } else {
                //검색페이지로 이동
                const orderType = "POPULAR"; // 기본 인기순. 이후 결과페이지에서는 버튼 클릭 등에 따라 인기순 / 최신순으로 분기
                const pageCount = 1; // 첫페이지를 향한다.
                const openNewWindow = window.open("about:blank");
                openNewWindow.location.href = "/multiDownload/"+searchText+"/"+orderType +"/"+pageCount;
            }
        }
    });
    //url 정규식 체크

    function isValidUrl(searchText){
        const urlRegex = /^(https?|ftp):\/\/(-\.)?([^\s\/?\.#-]+\.?)+(\/[^\s]*)?$/i;
        return urlRegex.test(searchText);
    }

    //스트리머명 정규식 체크
    //한글 영어 숫자만 입력가능
    function isValidStreamerName(searchText){
        const StreamerNameRegex = /^[ㄱ-ㅎ가-힣a-zA-Z0-9]+$/;
        return StreamerNameRegex.test(searchText);
    }



</script>
</html>